html {
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
  color: #03152d;
}

body {
  background-color: #edeff5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  color: inherit;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}
