.articles-editing-page {
  .title-field {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    input {
      font-size: 24px;
      font-weight: bold;
      padding: 0.5rem;
      background-color: white;
    }
  }

  .form-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .form-submission-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 0.5rem;
    }

    > *:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}
