@use "theme";

$font-color: theme.$font-color-default;
$radius: theme.$std-border-radius;

form,
.form {
  select {
    background: #f8f8f8;
    border: 1px solid #bbb;
    font-size: 15px;
    color: $font-color;
    border-radius: $radius;
    height: 39px;

    /* If you add too much padding here, the options won't show in IE */
    padding: 8px 20px;
    width: 100%;
  }
}

form .form-row,
.form-header .form-row {
  margin: 10px 10px 24px 0;
}

.MuiDialogContent-root {
  .MuiFormControl-root:first-child {
    margin-top: 0;
  }

  .MuiFormControl-root:last-child {
    margin-bottom: 0;
  }
}
