@use "theme";
@use "ol-util/assets/breakpoint";

$thumnail-size: 60px;
$link-min-size: 100px;
$link-max-size: 120px;

.homepage {
  .ic-carousel-button-next,
  .ic-carousel-button-prev {
  }

  .ic-resource-card {
    font-size: 14px;
  }
}
