@use "theme";
@use "ol-util/assets/breakpoint";
@use "../page-components/LearningResourceCardTemplateLegacy/learning-resource-card-legacy"
  with (
  $light-text: theme.$font-color-light
);
@use "ol-learning-resources/assets/learning-resource-card-template" with (
  $light-text: theme.$font-color-light
);
@use "../page-components/ExpandedLearningResourceDisplay/learning-resource-drawer";

$card-list-spacer: 1.5em;

.ic-resource-card {
  @include breakpoint.down(sm) {
    .ol-lrc-image {
      display: none;
    }
  }

  .bookmark-icon {
    color: theme.$color-blue-3;
  }
}

.ic-card-row-list {
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;

  > li {
    list-style: none;
    margin-top: $card-list-spacer;
    margin-bottom: $card-list-spacer;
  }

  > li:first-child {
    margin-top: 0;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

.ic-lr-drawer {
  max-width: 600px;
}
