@use "theme";

.learningpaths-page {
  .empty-message {
    font-style: italic;
  }
}

.manage-list-form {
  .radio-option {
    .MuiFormControlLabel-label {
      width: 150px;
    }

    .option-header {
      font-weight: bold;
      font-size: theme.$font-normal;
      display: block;
    }

    .option-detail {
      font-size: theme.$font-sm;
    }
  }
}

.add-to-list-dialog {
  .MuiDialog-paper {
    width: 325px;
  }

  .add-to-list-description {
    margin-left: 20px;
    margin-right: 20px;
  }

  .MuiDialogContent-root {
    padding: 0;
  }

  .resource-title-inline {
    font-style: italic;
  }

  .add-to-list-listing {
    & .MuiListItem-root:not(.add-to-list-new) {
      padding: 0;
    }

    .MuiListItemButton-root:not(.add-to-list-new) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
