{% extends "email/email_base.html" %}
{% load humanize %}

{% block content %}

<!-- 1 Column Text : BEGIN -->

<tr>
  <td
    style="
      padding: 5px 20px 0;
      font-family: sans-serif;
      font-size: 15px;
      line-height: 20px;
      color: #000;
    "
  >
    <h4
      style="
        margin: 0 0 48px;
        font-size: 24px;
        line-height: 20px;
        font-weight: bold;
      "
    >
      {{short_subject}}
    </h4>
  </td>
</tr>

<tr>
  <td style="background-color: #ffffff">
    <table
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
    >
      <tr>
        <td
          style="
            padding: 5px 20px 0;
            font-family: sans-serif;
            font-size: 15px;
            line-height: 20px;
            color: #000;
          "
        ></td>
      </tr>
    </table>
  </td>
</tr>
<!-- 1 Column Text : END -->

{% for item in documents|slice:":10" %}

<!-- 1 Column Text + Button : BEGIN -->
<tr>
  <td style="background-color: #ffffff">
    <table
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
    >
      <tr>
        <td style="padding: 10px 20px; width: 113px; height: 60px">
          <img
            src="{{item.resource_image_url}}"
            width="113"
            alt="{{item.resource_title}}"
            style="
              width: 113px;
              background: #ffffff;
              font-family: sans-serif;
              font-size: 15px;
              line-height: 15px;
              color: #a31f34;
            "
          />
        </td>
        <td
          style="
            font-family: sans-serif;
            font-size: 16px;
            line-height: 20px;
            color: #555555;
          "
        >
          <h2
            style="
              margin: 0 0 10px;
              font-family: sans-serif;
              font-size: 16px;
              line-height: 25px;
              color: #03152d;
              padding-right: 8px;
            "
          >
            {{item.resource_title|safe}}
          </h2>
          <a
            href="{{item.resource_url}}"
            style="
              margin: 0 0 10px 0;
              font-family: sans-serif;
              font-size: 14px;
              line-height: 22px;
              color: #a31f34;
            "
          >
            View
            {{item.resource_type|title}}&nbsp;&rarr;
          </a>
          <p style="margin: 0 0 10px">
            <!--
            NOTE: this next line is intentionally long so it renders
            correctly in plaintext -->
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- 1 Column Text + Button : END -->

{% endfor %}
<tr>
  <td style="padding: 10px 20px">
    <!-- Button : BEGIN -->
    <table
      align="left"
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      style="float: left"
    >
      <tr>
        <td
          align="left"
          style="border-radius: 4px; background: #a31f34; text-align: left"
        >
          <a
            class="button-a button-a-primary"
            href="{{ documents.0.search_url }}"
            align="left"
            style="
              background: #a31f34;
              border: 1px solid #a31f34;
              font-family: sans-serif;
              font-size: 15px;
              line-height: 15px;
              text-decoration: none;
              text-align: center;
              padding: 13px 17px;
              color: #fff;
              display: block;
              border-radius: 4px;
            "
            >View More</a
          >
        </td>
      </tr>
    </table>
    <!-- Button : END -->
  </td>
</tr>
<tr>
  <td style="padding: 10px 20px">
    <p style="border-top: 1px solid #f3f4f8"></p>
  </td>
</tr>

{% endblock %}
