{% load render_bundle from webpack_loader %}
{% load noindex_meta %}
<!doctype html>
<html lang="en">
  <head>
    {% spaceless %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    {% endspaceless %}
    {{ js_settings|json_script:'js-settings' }}
    {% noindex_meta %}
    <script type="text/javascript">
      var SETTINGS = JSON.parse(
        document.getElementById('js-settings').textContent,
      )
    </script>
  </head>
  <body>
    <div id="app-container"></div>
    {% render_bundle 'style' %}
    {% render_bundle 'root' %}
  </body>
</html>
